%canvas#drawing-surface{height: "330", width: "640"}
- if is_authorized?(remote, user)
  %button#clear Clear Screen
  %input#color{name: "linecolor", type: "color", value: "#FF0000"}/
  %input#line{max: "10", min: "1", name: "points", type: "range", value: "5"}/