- if current_user
  #owner_controls.panel.panel-success
    .video-heading
      %h3.panel-title Remote Owner Controls
    .video-body
      = form_for(remote, remote: true, :html => {:id => "owner_controls_form"}) do |f|
        .checkbox
          %label
            Owner-only Controls #{f.check_box :admin_only}