#video_info.panel.panel-default
  .panel-heading
    - if current_user == @remote.user && current_user
      #remote_name
        %h3.panel-title= @remote.name
    - else
      %h3.panel-title= @remote.name
  .panel-body
    #remote_description
      %p= @remote.description
    %p
      %a{href: remote.url}
        Watch video on its own site.
    - if is_authorized?(remote, @user)
      %span.label.label-success You are allowed to use this remote!