#video_info.panel
  .video-heading
    - if is_authorized?(@remote, current_user)
      #remote_name
        %h3.panel-title= @remote.name
    - else
      %h3.panel-title= @remote.name
  .video-body
    - if is_authorized?(@remote, current_user)
      #remote_description
        %p= @remote.description
    - else
      %p= @remote.description
    %p
      %a{href: remote.url}
        Watch video on its own site.
    - if is_authorized?(remote, @user)
      %span.label.label-success You are allowed to use this remote!