#video_info.panel.panel-default
  .panel-heading
    %h3.panel-title= @remote_name
  .panel-body
    %p
      = @remote_description
    %p
      %a{href: remote.url}
        Watch video on its own site.
    - if remote.admin_only == false || remote_user
      %span.label.label-success You are allowed to use this remote!