.alert.alert-success.connect-alert
  %dialog#flash_alert Connecting...
.alert.alert-danger.connect-alert
  %dialog#flash_alert The video will be back shortly!
%video#player.video-js.vjs-default-skin{controls: "", "data-setup" => '{"techOrder": ["html5","flash"]}', preload: "auto", height: "360", width: "640"}