.alert.alert-danger.connect-alert
  %dialog#flash_alert Attempting to connect...
%video#player.video-js.vjs-default-skin{controls: "", "data-setup" => '{"techOrder": ["html5","flash"]}', preload: "auto", height: "355", width: "630"}
