%ul#watchers_group.list-group.panel
  %li.list-group-item.video-heading
    Users currently watching this remote:
  %li.list-group-item.video-body
    #watchers_key.right
      %span.glyphicon.glyphicon-star.owner
      %span Owner
      %span.glyphicon.glyphicon-user.member
      %span Member
    %ul#watchers.list