- content_for(:title){ "Enter Guest Name - Fremote" }
.col-xs-8.col-xs-offset-2
  %h3
    Before you can use this remote...
  %p
    \...you'll need a temporary guest name.  You can enter your own, but if you don't want to then we'll give you a nickname. ;)
  = form_for :guest_name, :url => remote_path(@remote), method: "get" do |f|
    .input-group.input-group-sm
      = text_field_tag :guest_name, "", :class => 'form-control', placeholder: 'put a temporary guest name here, if you want...', html: {:autocomplete => "off"}
      %span.input-group-btn
        = submit_tag "Use Remote", class: "btn btn-inline"