.col-xs-6.col-xs-offset-2
  %h3
    What's this "Fremote" thing?
  %p
    With Fremote, you can take control of your online videos by creating a "remote".  This remote will let you control the video for whoever is watching.  It's a great way to watch videos together with friends.  Your remote also lets you create a playlist and chat with watchers.  
  %p
    You can create remotes without registering, but an account gives you a dedicated chat handle and extra remote settings. 
  %p
    All you need to get started is a YouTube, Vimeo, Blip, Veoh, or Soundcloud link.
  %p
    Keep in mind that you must have a fast internet connection for a good Fremote experience.  We also suggest using a modern web browser that supports HTML5 video.  We like Google Chrome, Mozilla Firefox, and Internet Explorer 10+.
  = image_tag("ski_instructor.jpg", class: "img-responsive")
  %p
    Now that you know what this is all about...
  %p.text-align-center
    = link_to('Create a Remote!', root_path, html_options = {class: "btn btn-success"})