#on_landing
	#center_column
		.container
			.tab-content
				#landing.tab-pane.active.fade.in
					%p.left create a remote
					= form_for :remote, :url => { :controller => 'remotes', :action => 'create' }, :html => {:id => "new_remote"} do |f|
						.input-group.full-width
							= text_field_tag :video_url, "", :class => 'form-control', placeholder: 'enter a url'
							%span.input-group-btn
								= submit_tag "Create Remote", class: "btn btn-landing"
					%p.right that everyone can control