#center_column
	.jumbotron
		%h2 Make a remote to control videos for other users!
		%p Just submit a YouTube/Vimeo link in the form below.
		%p
	= form_for :remote, :url => { :controller => 'remotes', :action => 'create' }, :html => {:id => "new_remote"} do |f|
		/ = label_tag :video_label, "Video URL", :class => 'header_label'
		.input-group
			= text_field_tag :video_url, "", :class => 'form-control', placeholder: 'Paste video URL here...'
			- if current_user
				%span.input-group-addon
					Owner-only
					\#{check_box_tag 'admin_only'}
					%span#owner_only_tooltip.glyphicon.glyphicon-question-sign{"data-placement" => "top", "data-toggle" => "tooltip", title: "Your remote will be viewable\r\nby guests but only the creator can control the remote."}
			%span.input-group-btn
				= submit_tag "Create Remote", class: "btn btn-success"