#center_column
  #remote
    %h3
      List of #{@user_viewed.name}'s' remotes:
    - if @remotes != []
      - @remotes.each do |remote|
        %ul.list-unstyled.list-border
          %li
            %h4
              %span.glyphicon.glyphicon-link
              = link_to "#{remote.name}", remote_path(remote.remote_id)
            %ul
              %li #{remote.description}
    - else
      %p This user has no remotes.