.col-md-10.col-md-offset-1
  %h2.text-align-center PRIVACY POLICY
  %p
    %h3.text-align-center 1. PURPOSE

    This document sets out Fremote’s commitment to your privacy and to the protection of personal data (the "Data") collected and processed in connection with your use of the Website, under the terms and conditions set out in the General Terms of Use.
  %p
    %h3.text-align-center 2. DATA COLLECTED

    We collect and subsequently process (i) the Data that you voluntarily provide on the registration form on the Website including your user ID, a valid email address, and your date of birth and (ii) your IP address (the address of your computer) by an automatic collecting process.
    %br
    Please note that whether or not you are a registered user, the Website may implement or allow third-party companies to implement automatic tracking processes (cookie or web beacon), which you may block by changing your browser settings. The Data (e.g., click stream information, browser type, time and date, subject of advertisements clicked or scrolled over) collected through these automatic tracking processes are anonymous and are used in order to improve the Website’s quality (as for examples the improvement of your search results and of the advertising selection provided to you).

  %p  
    %h3.text-align-center 3. PURPOSE OF PROCESSING

    Data indicated on the Website as mandatory is required in order to use the Website’s features (video uploads, comments, etc). Data automatically collected by the Website allows us to compile statistics on web page visits. Your Data is collected and maintained in California, USA. This collection and maintenance is done according to the laws of California, USA that apply to this matter.
  %p
    %h3.text-align-center 4. DATA RECIPIENTS

    Because Fremote enables users to stream content from third party sites, some identifiable information may be accessed by those third parties. Fremote may release Data if the law requires it to do so or in the good-faith belief that such action is necessary to comply with state and applicable laws or respond to a court order, subpoena, or search warrant or to protect Fremote’s rights and interests.
  %p
    %h3.text-align-center 5. DATA SECURITY

    Fremote takes all appropriate steps to limit the risk that it may be lost, damaged or misused.
  %p
    %h3.text-align-center 6. DATA RETENTION

    Data is stored on the premises of the Website host and is kept only as long as necessary for the purposes set out above. After that point, data is kept only for statistical purposes and shall not be used for any other reason.
  %p
    %h3.text-align-center 7. YOUTH RESTRICTIONS AND PARENTAL CONTROL
    
    Children under the age of 13 are not permitted to register with Fremote. It is Fremote's policy not to collect any information from anyone under the age of 13.
    
    In any case, you affirm that you are over the age of 13, as the Website is not intended for children under 13. If you are under 13 years of age, do not use or access the Fremote website at any time or in any manner.

    If you are the parent or legal guardian of a child under 13, and that child has somehow registered with Fremote, please notify us by sending an e-mail to the contact web form for instructions on how to cancel your child's registration.  In the e-mail, please provide your full name and address, your child's full name and address, your relationship to the child, your daytime and evening telephone numbers, your email address, the User Id or email your child uses to sign in to Fremote, and a signed statement that you are the child's parent or legal guardian. Fremote will use this information only to verify that you are the child's parent or legal guardian and for no other purposes.

    Some practical advice for young people: if you are under 18, and you regularly use Fremote, we ask you to carefully read the following information and advice.
    %p
      %br
      \-First, tell your parents if you create an account on Fremote. It is important to have their agreement, and to explain to them how you plan on using the site (to send or share videos, create groups, etc.)
      %br
      \-Don't hesitate to send us any content or shocking behavior by using the "Report" button in each Remote, or using the available form. You can also contact the Support team at any time by using the contact form, accessed via the footer.
      %br
      \-Finally, to make the best of  Fremote, read our Terms of Use carefully
    %p
      Our Support team, available 24/24 through the contact form, treats all reported content quickly, and we also work closely with the relevant authorities. Fremote cooperates with bodies of child protection mentioned above, all of which have a dedicated space on the site.
      %br
      %br
      It is important to remind young users they must always respect the terms of use, be aware of and adhere to law of intellectual property law, image rights and respect for privacy in general, whether in uploading video or posting comments.
      %br
      %br
      We invite you to read carefully our Terms of Use for more information on copyright and the use of Fremote in general.
      %br
      %br
      Finally, keep in mind that as a parent, you can - if you deem it necessary - request that your child's account be closed by contacting our support team.