.col-md-10.col-md-offset-1
  %h2.text-align-center TERMS OF USE
  %p
    WE ASK THAT YOU READ THESE TERMS OF USE CAREFULLY before using our website. If you have any questions, please do not hesitate to contact us.
  %p
    THESE GENERAL TERMS OF USE ("TERMS"), WHICH ARE GOVERNED BY THE LAW OF COUNTRY, SET OUT THE TERMS AND CONDITIONS OF USE OF THE WEBSITE “fremote.tv” (COLLECTIVELY, INCLUDING ALL CONTENT AND FUNCTIONALITY AVAILABLE THROUGH THE Fremote.tv WEBSITE, THE “WEBSITE”), PUBLISHED BY Fremote. BY ACCESSING, VISITING OR USING THE WEBSITE IN ACCORDANCE WITH THE TERMS SET OUT BELOW (WHETHER YOU ARE A REGISTERED USER OR UNREGISTERED USER), EITHER AN INDIVIDUAL OR A SINGLE ENTITY, YOU EXPRESSLY AND UNCONDITIONALLY AGREE TO THE TERMS AND ALL OTHER POLICIES OF Fremote INCLUDING BUT NOT LIMITED TO, Fremote’S PRIVACY POLICY. IF YOU ARE NOT AN INDIVIDUAL, YOU REPRESENT TO Fremote THAT YOU HAVE ALL NECESSARY CORPORATE OR EQUIVALENT AUTHORITY AND POWER TO AGREE TO THE TERMS. YOUR AGREEMENT SHALL BE BINDING ON THE CORPORATION, PARTNERSHIP, ASSOCIATION OR OTHER ENTITY IN WHOSE NAME YOU ARE REGISTERING AS A USER AND ESTABLISHING AN ACCOUNT. IF YOU DO NOT AGREE TO ANY OF THESE TERMS, YOU MAY NOT USE THE WEBSITE.
  %p
    %h3.text-align-center 1. DESCRIPTION OF THE WEBSITE
    Fremote.tv is a website that enables users to watch online videos synchronously with other users.  Fremote.tv is not a video hosting site, nor does it store any video or audio media.  Advertisements may also be included on the website.

  %p
    %h3.text-align-center 2. YOUR INTELLECTUAL PROPERTY RIGHTS
    If you have registered and have a Fremote account pursuant to which you provide videos you create, including comments on videos, and your nickname, Fremote.tv does not own Your Content. By making Your Content accessible to other users (as a body, or by individual group), you agree to allow any users of the Website free of charge and for personal use only, to view and transmit Your Content on or through the Website, on other electronic communication media or technology (e.g. mobile phones), for the entire period in which Your Content is made available on the Website. In addition, for the entire period in which your content is available on the Website and strictly by means of the features that enable the Website to be accessed via the Internet or through other electronic communication media or technology, you authorize us to reproduce/display Your Content and, as necessary, adjust its format for that purpose. Please note that due to the intrinsic nature of the Internet, data transmitted – including Your Content - are not protected against the risks of misappropriation and/or piracy, for which we shall not be liable. You are responsible for taking all appropriate steps to protect such data, where applicable.

  %p
    %h3.text-align-center 3. OTHER USERS’ INTELLECTUAL PROPERTY RIGHTS
    Other users of the Website have provided other content subject to the Terms and other notices and policies set forth on the Website. You may access other users’ content solely:
    %p
      %p
        for your information and personal use;
      %p
        as intended through the normal functionality of the Website; 
      %p
        and for Streaming.
    %p
      "Streaming" means a digital transmission of an audiovisual work via the Internet from the Website to a user's device in such a manner that the data is intended for real-time viewing and not intended to be copied, stored, permanently downloaded, or redistributed by the user. Accessing user’s content for any purpose or in any manner other than Streaming is expressly prohibited. If you wish to use another user’s content for any other purpose, in particular for commercial use, you are solely responsible for obtaining the necessary advance authorization.

  %p
    %h3.text-align-center 4. OUR INTELLECTUAL PROPERTY RIGHTS
    The Website is our exclusive property. As a general matter, we grant you a free, personal, non-exclusive and non-transferable right to access and use the Website, which right is conditioned on your compliance with the Terms. All other rights are expressly excluded without our prior written consent. The Content (other than Your Content and other users' content) included on or accessible through the Website, such as text, graphics, logos, names, designations, button icons, features, functionalities, images, audio clips, information, data, photographs, graphs, videos, typefaces, graphics, music, sounds, and other material and software (the “Fremote Content”), is the exclusive property of Fremote and its licensors and is protected by copyrights, trademarks, trade secrets, or other proprietary rights and is subject to applicable laws and regulations. We grant you a personal, non-exclusive, non-transferable and revocable right to access and use the Website, which right is conditioned on your compliance with the Terms. Fremote Content may not be downloaded, copied, reproduced, distributed, transmitted, broadcast, displayed, sold, licensed, or otherwise exploited for any other purpose whatsoever without the prior written consent of Fremote or Fremote's licensors. You agree to not use or exploit the Fremote Content in any manner inconsistent with any of the rights granted or restrictions set forth herein, including, without limitation, prohibitions on downloading, redistribution, alteration, deletion and deactivation of any content protection mechanisms. You are not allowed to modify, enhance, edit, translate, adapt, reverse engineer, decompile, disassemble, or create derivative works based upon or otherwise alter in part or in full any Fremote Content. All rights not expressly granted in the Terms are reserved to Fremote and its licensors.

  %p
    %h3.text-align-center 5. OUR LIABILITY AS SERVICE
    We are under no legal obligation to monitor content transmitted via or stored on the Website. Our only obligations as host are:
    %p
      %p
        \- to fight against the prohibited content;
      %p
        \- to treat your connection data according to laws and regulations relating to Personal Data, and
      %p
        \- to remove all clearly illegal content which has been effectively brought to our attention.

  %p
    %h3.text-align-center 6. YOUR LIABILITY AS USER
    As a supplier of content on the Website, including videos, comments on videos, and your nickname, you are required to comply with the laws and regulations in force. You are thus responsible for ensuring that Your Content stored on or disseminated through the Website:
    %p
      %p
        does not violate the intellectual property rights of third parties (including video-clips, television shows, animated and unanimated short, medium and/or feature-length films and advertisements that you have not personally created or for which you have not obtained the necessary authorisations from third parties or copyright royalty collection organizations who hold the rights to them),
      %p
        does not cause personal injury (including defamation, insults, abuse, etc.) or an invasion of privacy, or
      %p
        is not contrary to public policy and accepted moral standards (including attempts to justify crimes against humanity, incite racial hatred, child pornography, etc.).
    %p
      By disseminating images to or through the Website, you warrant that you are not uploading any infringing material and expressly warrant that you have all necessary rights and/or authorizations from the copyright owner(s) and have paid any royalties or other fees pursuant to any licenses or permissions you may have with owners of copyright royalty collection organizations.
    %p
      Failure to comply with these provisions will result in Your Content being removed as set out in the present terms and/or your account being deactivated without prior notice. In addition, you may be personally liable to the specific sanctions applicable to the content in question, in addition to being ordered to pay damages, where applicable. In view of the collective nature of the Website and out of consideration for the feelings of all, users are responsible for maintaining certain ethical standards with respect to the videos and/or comments made available online and, in particular, for refraining from disseminating any violent or pornographic content.

  %p
    %h3.text-align-center 7. REGISTRATION AND ACCESS
    In order to use the Website's features, you must set up an account using the online registration form. You are free to modify the Personal data you provide on the form at any time.  You may access your account by entering your user ID and password, which you alone are responsible for keeping secure. Registration entitles you to use the Website for an unlimited period of time. We reserve the right to terminate your use of the Website at any time, by e-mail, subject to reasonable notice. Failure to satisfy your aforementioned obligations in respect of liability may result in access to your personal space being temporarily or permanently suspended, immediately and without notice, through the deactivation of your account, without prejudice to any other rights we may have.

  %p
    %h3.text-align-center 8. AVAILABILITY OF THE WEBSITE
    In principle, the Website may be accessed 24/7, except in the event of a scheduled or unscheduled interruption for maintenance or in the event of force majeure. Since we are automatically subject to an obligation to use our best endeavours, we shall not be liable for damage of any kind due to the Website being unavailable.

  %p
    %h3.text-align-center 9. PROOF, RETENTION AND STORAGE
    The computer registers stored on our systems in accordance with standard safety practices shall be considered proof of e-mails exchanged, registration forms sent, videos downloaded and comments posted. Registration forms are stored on reliable and durable media, as required by current law. It is agreed that in the event of a contradiction between our computer registers and any paper or electronic documents in your possession, our computer registers shall be authoritative.

  %p
    %h3.text-align-center REPORTED CONTENT:
    Under current law, Fremote does not monitor content uploaded to the site. However, we rely on our users to notify us of any inappropriate behavior or content. All reported content (video or comment) is systematically checked and removed if it infringes our Terms of Use.
    %p
      Fremote does not accept shocking or objectionable content. The following are completely prohibited:
    %p
      Content that can incite physical violence or harassment, especially incitement to racial hatred.
    %p
      In cases of flagrant violation of these terms, we may report the content and its uploader to the relevant authorities.