// Place all the styles related to the remotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#center_column{
	width: 640px;
	margin: 0 auto;
}

#chat_messages {
  height: 250px;
  overflow-y: scroll;
}

.grey-text {
  color: grey;
}

#new_remote {
  padding-left: 60px;
  padding-right: 60px;
}

.tooltip-inner {
    white-space:pre-wrap;
}

canvas#drawing-surface {
  position: absolute;
  z-index: 2147483630;
}

.connect-alert {
  z-index: 2147483647;
  position: fixed;
}

/*.alert-success.connect-alert {
  top: 200;
}
.alert-danger.connect-alert {
  top: 250;
}*/

.full-width {
  width: 100%;
}
.connect-alert {
  display: none;
}