// Place all the styles related to the remotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$borders: 3px solid;

$light-gold: #bf8800;
$dark-gold: #a66600;
$light-gray: #ccc;

$dark-green: #006c51;
$medium-green: #1f7c65;
$light-green: #00a67c;

$light-weight: 300;

html {
  background-color: $dark-green;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: $light-weight;
}

main {
  background-color: $dark-green !important;
  padding-bottom: 0;
}

p.navbar-text {
  font-size: 1em;
}

nav {
  background: $light-green;
  box-shadow: 3px 3px 3px $medium-green;
}

#landing p {
  font-size: 1.45em;
  color: white;
  margin: 20px 0;
}

.left {
  float: left;
  width: 100%;
}

.right {
  float: right;
}

#landing input {
  border-radius: 0;
}

#landing input#video_url {
  border-bottom: $borders $light-gray;
  border-right: 0;
  height: 100%;
}

.input-addon-border {
  border-bottom: $borders $light-gray;
  border-left: 0;
  font-weight: $light-weight;
}

.btn-landing {
  background-color: $dark-gold;
  border-bottom: $borders $light-gold;
  border-right: $borders $light-gold;
  font-weight: $light-weight;
  color: white;
}

div#footer {
  background: $light-green;
  box-shadow: -3px -3px 3px $medium-green;
  text-align: center;
  min-height: 20px;
  font-size: 1em;
  bottom: 0;
  position: fixed;
  width: 100%;
}

div#footer p {
  padding: 0.25em;
}

div#footer a {
  color: $dark-green;
  font-weight: 600;
}

#center_column {
  width: 68%;
	max-width: 925px;
	margin: 0 auto;
}

#center_column:before {
  content: '';
  display: inline-block;
}

#chat_messages {
  height: 250px;
  overflow-y: scroll;
}

.grey-text {
  color: grey;
}

#new_remote {
  padding-left: 60px;
  padding-right: 60px;
}

.tooltip-inner {
    white-space:pre-wrap;
}

canvas#drawing-surface {
  position: absolute;
  z-index: 2147483630;
  top: 50px;
}

.connect-alert {
  z-index: 2147483647;
  position: fixed;
}

/*.alert-danger.connect-alert {
  top: 250;
}*/

.full-width {
  width: 100%;
}
.connect-alert {
  display: none;
}
#chat_character_limit {
  font-size: 12px;
  margin-left: 10px;
}
.error {
  color: #a94442;
}

li.user, li.member, li.owner {
  font-weight: bold;
}

li.guest .member, li.user .member, li.owner .member {
  display: none;
}

li.member .member {
  color: gold;
  display: inline;
}

li.guest .owner, li.user .owner, li.member .owner {
  display: none;
}

li.owner .owner {
  color: tomato;
  display: inline;
}