// Place all the styles related to the remotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$border: 3px solid;

$light-gold: #bf8800;
$dark-gold: #a66600;
$light-gray: #ccc;
$dark-green: #006c51;
$medium-green: #1f7c65;
$light-green: #00a67c;
$minty-green: #bceade;
$default-font: 'Open Sans', sans-serif;

body {
  background-color: $dark-green;
  font-family: $default-font;
  color: white;
}

nav {
  background-color: $light-green;
  box-shadow: 3px 3px 3px $medium-green;

  .img-responsive {
    max-height: 40px;
  }

  img {
    margin-top: -10px;
  }

  a {
    color: $minty-green;
  }

  p.navbar-text {
    font-size: 1em;
  }

  .navbar-toggle {
    background-color: white;
    border-radius: 0;

    .icon-bar {
      background-color: $dark-green;
    }
  }

  .navbar-toggle:hover {
    background-color: $medium-green
  }
}

div#footer {
  background: $light-green;
  box-shadow: -3px -3px 3px $medium-green;
  text-align: center;
  min-height: 20px;
  font-size: 1em;
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 2000000;

  p {
    padding: 0.25em;
  }

  a {
    color: $minty-green;
    font-weight: 600;
  }
}

main {
  margin-top: 60px;
  margin-bottom: 50px;
}

canvas#drawing-surface {
  position: absolute;
  top: 0;
}

.connect-alert {
  position: fixed;
  display: none;
  border-radius: 0;
  margin: 0;
  z-index: 9999;
}

#remote {
  max-width: 960px;
  margin: 0 auto;

  h3 {
    font-weight: 300;
  }
  a {
    color: white;
  }

  ul {
    background-color: $light-green;

    li {
      padding: 10px;
    }
  }

  h4 {
    padding: 10px;
  }

  .list-border {
    border-bottom: $border $medium-green;
    border-right: $border $medium-green;
  }

  .btn {
    border: none;
    background-color: $dark-gold;
    border-bottom: $border $light-gold;
    font-weight: 300;
  }

  input, textarea {
    border-radius: 0;
    border-bottom: $border $light-gray;
    width: 100%;
    margin: 5px 0;
  }

  .user-remove, .user-delete {
    border: none;
  }

  .user-add {
    border: none;
    font-weight: 600;
    background: $dark-green;
  }

  .to-delete {
    text-decoration: line-through;
    color: #9b001c;
  }

  table {
    background-color: rgba(128, 128, 128, 0.5);
    margin: 10px 0;
  }

  thead, tbody td:first-child {
    background-color: $medium-green;
  }

  tbody tr:hover {
    background-color: $light-green;
  }

  td {
    width: 15%;
  }

  .glyphicon-plus {
    font-size: 28px;
    margin-left: 5px;
    margin-top: 5px;
    position:absolute;
    right: 2px;
    color: $dark-green;
    z-index: 999
  }

  .tooltip-wrap {
    position: relative;
  }

  .tooltip-wrap .tooltip-content {
    display: none;
    position: absolute;
    top: 0;
    padding-left: 20px;
  }

  .tooltip-wrap:hover .tooltip-content {
    display: block;
  }

  .opacity {
    background-color: rgba(128, 128, 128, 0.5);
  }

  ul.padded {
    padding-top: 50px;
  }
}

#landing {
  max-width: 960px;
  margin: 0 auto;

  p {
    font-size: 1.6em;
    color: white;
    margin: 20px 0;
    font-weight: 300;
  }

  form {
    clear: both;
  }

  input {
    border-radius: 0;
  }

  input#video_url {
    height: 100%;
  }
}

#show_remote {
  .canvas-controls {
    background-color: $light-gold;
    height: 28px;
    width: 630px;

    .btn-canvas-controls {
      background-color: $dark-gold;
      border: none;
      border-bottom: $border $light-gold;
    }

    p {
      display: inline;
      padding: 10px;
    }

    input#color {
      border: none;
    }

    input#line {
      display: inline;
      width: 250px;
    }
  }

  #chat {
    #chat_character_limit {
      margin-left: 11px;
      font-size: 10px;
    }

    #chat_messages {
      height: 320px;
      overflow-y: scroll;
    }

    #chat_table_body {
      font-size: 12px;
    }
  }

  #video_info {
    width: 630px;

    .glyphicon {
      margin-right: 10px;
    }
  }

  .video-heading {
    background-color: $light-green;
    padding: 10px;
    color: white;
    font-weight: 300;
    font-size: 16px;

    h3.panel-title {
      font-weight: 300;
      font-size: 16px;
    }
  }

  .video-body {
    padding: 10px;
    color: #999;
  }

  #watchers_group .video-body {
    min-height: 40px;
  }

  #playlist {
    a {
      font-size: 12px;
    }
  }
}

.btn-danger {
  width: 20px;
  height: 20px;
  padding: 0;
  border-radius: 0;
}

#registration {
  h1, h2, h3 {
    font-weight: 300;
  }

  a {
    color: $light-green;
  }

  label {
    font-weight: 300;
  }

  .checkbox {
    margin-top: 70px;

    input[type="checkbox"] {
      height: auto;
      margin: 0;
      width: 25%;
    }
  }

  .authform {
    padding-top: 0;
    max-width: 500px;
    margin: 0 auto;

    form {
      border-radius: 0;
      box-shadow: none;
      -webkit-box-shadow: none;
      border: none;
      background-color: rgba(128, 128, 128, 0);
      margin-bottom: 50px;
      padding-bottom: 50px;
    }

    fieldset {
      border: none;
      border-radius: 0;
      box-shadow: none;
      background-color: rgba(128, 128, 128, 0.5);
      padding: 10px;
    }

    input {
      height: 30px;
      width: 100%;
    }

    .form-control {
      border: none;
      border-radius: 0;
      box-shadow: 0;
      border-bottom: $border $light-gray;
    }

    .button {
      border: none;
      border-radius: 0;
      background-color: $dark-gold;
      border-bottom: $border $light-gold;
      font-weight: 300;
    }
  }

  .checkbox {
    margin-top: 70px;

    input[type="checkbox"] {
      height: auto;
      margin: 4px 0 0 0;
      width: 7%;
    }
  }
}

.list-group-item {
  border: none;
}

.list-group-item:first-child, .list-group-item:last-child {
  border-radius: 0;
  color: #999;
}

input[type="text"], textarea {
  border-bottom: $border $light-gray;
}

input[type="submit"] {
  background-color: $dark-gold;
  border-bottom: $border $light-gold;
  border-right: $border $light-gold;
  font-weight: 300;
  color: white;
}

.btn-edit {
  background-color: $dark-gold;
  font-weight: 300;
  color: white;
  padding: 2px;
  border-radius: 0;
}

.btn-red {
  background-color: #9b001c;
}

.display-table {
  display: table;
}

.edit-description {
  width: 400px;
  height: 60px;

  button[type="button"] {
    display: table;
    border-bottom: $border #f73e5f;
    border-right: $border #f73e5f;
  }

  button[type="submit"] {
    border-right: $border $light-gold;
    width: 100%;
  }

  textarea {
    height: 60px !important;
    border-bottom: $border $light-gray;
  }
}

.input-group-sm > .input-group-btn > .btn, .input-group-sm > .form-control {
  border-radius: 0;
}

.panel {
  border-radius: 0;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.no-margin {
  margin: 0 -30px;
}

.inline {
  display:inline;
}

.full-width {
  width: 100%;
}

.alert {
  border-radius: 0;
  margin: 0 auto;
}

#remote_name, #remote_description, #add_members {
  cursor: pointer;
}

#added_members {
  display: none;
}

.inside-member-list {
  background: transparent !important;
  padding-left: 20px;
}

.grey-text {
  color: grey;
}

.padding {
  padding: 10px
}

.show {
  display: block !important;
}

.sortable {
  cursor: pointer;
}

#clear_playlist {
  margin-top: -25px;
  border-radius: 0;
  font-weight: 300;
  background: $dark-gold;
  font-size: 12px;
}

.tooltip-inner {
  max-width: 480px;
}

.text-align-center {
  text-align: center;
}

.light-green-text {
  color: #00a67c;
}